<?xml version="1.0"?>

<model>
  <name>montante_blu</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nunzio Villa</name>
    <email>nunziovilla@gmail.com</email>
  </author>

  <description>
    A model of a "montante" blue colored.
  </description>

</model>
